body {
    font-family: 'Comfortaa', cursive;
    overflow: hidden;
}

.navbar {
    margin-top: 1rem;
}

.left-bar {
    display: block;
    padding-left: 2em;
    padding-top: 1em;
    height: 100%;
    overflow: auto;
    border-right: 1px solid rgba(0, 0, 0, .1);
    overflow-y: hidden;
}

.left-bar h7 {
    font-size: 12px;
    font-weight: bold;
    color: #b3b5bd;
}

.left-bar a {
    display: block;
    color: #404252;
    margin-top: 15px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.left-bar a:hover {
    color: #289696;
}

.left-bar a i {
    margin-right: 5px;
    font-size: 1rem;
}

.left-bar a.title {
    font-size: 16px;
    font-weight: bold;
    padding: 0 !important;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    color: #404252;
}

.left-bar a.title i {
    margin-right: 5px;
    font-size: 16px;
}

.right-bar {
    display: block;
    padding: 3em;
    padding-top: 2em;
    height: 100%;
    overflow: auto;
    border-left: 1px solid rgba(0, 0, 0, .1);
    overflow-y: hidden;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    height: 95vh;
    overflow-y: scroll !important;
    padding-bottom: 50px;
}

.card {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    width: 100%;
    padding: 20px;
}

.card.group {
    margin-bottom: 1.5rem;
}

.card-playlist {
    transition: transform .2s;
}

.card-playlist:hover,
.genre:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card .img-container {
    width: 100%;
    position: relative;
}

.img-container .overlay {
    position: absolute;
    bottom: -5px;
    right: -5px;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: #289696 !important;
    background-color: rgba(255, 255, 255, 1);
    font-size: 15px;
}

h6 {
    color: #404252 !important;
    font-weight: bold;
    margin-bottom: 1rem;
}

.rounded {
    border-radius: 15px !important;
}

.song-title, .playlist-title {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 13px;
    color: #404252;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-subtitle {
    margin: 0 !important;
    font-size: 10px;
    color: #b3b5bd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.active {
    color: #289696 !important;
    font-weight: bold !important;
    border-right: 4px solid #289696;
}

.banner {
    position: relative;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    background-color: #B6E6D8;
    margin-bottom: 1.5rem;
    overflow: hidden;
    color: #289696;
}

.banner img {
    position: absolute;
    position: absolute;
    top: 30%;
    right: -25%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.banner .banner-body {
    width: 50%;
}

.banner .banner-body p {
    margin-top: 1rem;
    font-size: 13px;
}

.btn-sm {
    font-size: 12px;
}


.table td,
.table th {
    font-size: 13px;
    vertical-align: center;
    border-top: none !important;
    word-wrap: break-word;
}

.table td h7 {
    word-wrap: break-word;
}

.thumbnail {
    width: 45px;
    height: 45px;
    border-radius: 8px !important;
    border: 1px solid rgba(0, 0, 0, .1);
    object-fit: cover;
}

th {
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
}

.add,
.edit {
    background-color: #F2F7FF;
}

.delete {
    border: 1px solid #FF6863;
    color: #FF6863 !important;
}

.btn-accent {
    color: #289696 !important;
    background-color: #B6E6D8;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#genres .row {
    margin: auto
}

.genre {
    position: relative;
    transition: transform .2s;
}

.genre p {
    text-align: center;
    width: 100%;
    margin: 0;
    padding-top: .5rem;
    font-size: 12px;
}

#genres .col-sm-4 {
    padding: .75em !important;
}

.card-solid {
    border-radius: 15px;
    width: 100%;
    padding: 20px;
    background-color: #289696;
    color: white;
}

#playback {
    margin-top: auto;
    display: none;
}

#playback p {
    margin: auto;
    text-align: center;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

#playback .subtitle {
    color: rgba(255, 255, 255, .4);
    margin-top: .5em;
    font-weight: normal;
}

#ytframe {
    width: 100%;
    border: none;
    border-radius: 10px;
}

.profile.card img {
    max-width: 35px;
    border-radius: 50%;
}

.table .song-title {
    margin-top: 0px;
    margin-bottom: .5rem;
    font-size: 13px;
    color: #404252;
    font-weight: bold;
    overflow-wrap: break-word;
}

.table td.td-thumbnail {
    max-width: 45px;
}

.table td.td-description {
    max-width: 200px;
}

#bars {
    height: 0;
    position: absolute;
    width: 40px;
}

.bar {
    background: white;
    bottom: 1px;
    height: 1px;
    position: absolute;
    width: 3px;
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
        opacity: .35;
        height: 3px;
    }

    100% {
        opacity: 1;
        height: 12px;
    }
}

.bar:nth-child(1) {
    left: 1px;
    animation-duration: 474ms;
}

.bar:nth-child(2) {
    left: 8px;
    animation-duration: 433ms;
}

.bar:nth-child(3) {
    left: 15px;
    animation-duration: 407ms;
}

#owner, #date-created {
    float: right;
}

#playlist-img {
    margin-bottom: 1.5rem;
}

.playlist-title {
    margin-top: 0;
}

.modal-backdrop
{
    opacity:0.5 !important;
}

.modal-content {
    border: none;
}

#song-select {
    width: 60%;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.btn-outline {
    border: 1px solid rgba(0, 0, 0, .1);
}

label {
    font-size: 12px;
    font-weight: bold;
}

.success-alert a {
    float: right;
}

.hidden {
    display: none;
}

.watermark {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    color: rgb(0, 0, 0, 0.4);
    font-size: 9px;
}

.genre-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 100;
    color: white !important;
    font-size: 35px;
    font-weight: bold;
}

.genre-lg {
    margin-bottom: 1.5rem;
}