{% extends "layout.html" %}

{% block content %}

<script src="{{ url_for('static', filename = 'js/playlist_add.js') }}"></script>

<br>

<div class="banner success-alert hidden">
    <span class="font-weight-bold">Successfully created!</span>
    <a id="success-link" class="btn btn-sm btn-outline-info">View playlist</a>
</div>

<form id="add-form">
    <div class="card group">
        <label for="basic-url">Title</label>
        <input id="playlist-name" class="form-control" type="text" placeholder="Enter a name" required="required">
        <br>
        <label for="basic-url">Description</label>
        <textarea class="form-control" id="playlist-desc" rows="3"></textarea>
        <br>
        <label for="basic-url">Image URL</label>
        <input id="playlist-image-url" class="form-control" type="text" placeholder="Enter a URL" required="required">
    </div>

    <div class="card group">
        <b class="playlist-title">Songs</b>

        <table class="table">
            <tbody id="playlist">
                <!--Dynamically input-->
            </tbody>
        </table>

        <div class="form-inline">
            <select class="custom-select my-1 mr-sm-2" id="song-select">
                <option selected>Select a song</option>
                <!--Dynamically input-->
            </select>

            <a id="add-song" class="btn btn-outline rounded"><i class="bi-plus"></i> preview</a>
        </div>

    </div>

    <button type="submit" id="save-edit" class="btn rounded btn-accent"><i class="bi-check"></i> Save changes</button>
    <a id="discard-edit" class="btn rounded delete"><i class="bi-x"></i> Discard changes</a>
</form>


{% endblock %}