{% extends "layout.html" %}

{% block content %}

<script src="{{ url_for('static', filename = 'js/playlists.js') }}"></script>

<script>
    let playlists = {{ playlists| tojson}};
</script>

<br>

<div>
    <a href="/add" class="btn add rounded"><i class="bi-plus"></i> Create a playlist</a>
    
</div>
<br>
<div class="card group">
    <table class="table">
        <tbody id="my-playlists">
            <!--Dynamically input-->
        </tbody>
    </table>
</div>


{% endblock %}