{% extends "layout.html" %}

{% block content %}

<style>
    .song-img {
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }
</style>

<script src="{{ url_for('static', filename = 'js/search.js') }}"></script>

<script>
    let results = {{results|tojson}};
</script>

<br>
<h2>Search Results for "<b id="query"></b>"</h2>
<br>

<div id="playlist-results">
    
    <div class="card group">
        <b class="playlist-title">Playlists <span id="playlists-count"></span></b>
        <table class="table">
            <tbody id="playlists">
                <!--Dynamically input-->
            </tbody>
        </table>
    </div> 
</div>

<div id="song-results">
    
    <div class="card group">
        <b class="playlist-title">Songs <span id="songs-count"></span></b>
        <table class="table">
            <tbody id="songs">
                <!--Dynamically input-->
            </tbody>
        </table>
    </div> 
</div>

{% endblock %}